.user-action{
    @media (min-width: 768px) {
        display: flex;
        flex-direction: row;
        gap: 3vw;
    }

    @media (max-width: 480px) {
        display: flex;
        flex-direction: row;
        gap: 4vw;
    }

    .user-action__btn{
        border: none;
        background-color: rgb(255, 255, 255);
        width: 17px;
    }

    .user-action__btn:hover{
        cursor: pointer;
    }

}